<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cow Counter</title>
</head>
<body>
    <h1>Cow Counter</h1>
    {% include 'partials/count.html' %}
    <button hx-target="#count" hx-post="/add-cow">Add Cow</button>
    <button hx-target="#count" hx-post="/reset-cow-count">Reset Cow Count</button>
        <script src="{{ url_for('static', path='/js/libraries/htmx.min.js') }}"></script>
</body>
</html>